<div class="jumbotron">
  <h1>Trips</h1>
  <p>Travel to any place of your choice.</p>
</div>

<div class="row-fluid">
  <table class="table">
    <thead>
      <th>
        Origin
      </th>
      <th>
        Destination
      </th>
      <th>
        Start Time
      </th>
      <th>
        End Time
      </th>
      <th>
        Distance
      </th>
    </thead>
    <tbody> 
      <% @trips.each do |t| %>
        <% if not t.completed %>
          <tr>
            <td><%= t.origin %></td>
            <td><%= t.destination %></td>
            <td><%= t.start_time.to_formatted_s(:short) %></td>
            <td><%= t.end_time.to_formatted_s(:short) %></td>
            <td><%= t.distance %></td>
            <td>
              <%= link_to "Details", details_trip_path({:id => t.id}), html_options={class: "btn btn-success"} %>
              <% if Passenger.where(trip_id: t.id, user_id: current_user.id).present? %>
                <% if Passenger.where(trip_id: t.id).count > 1 %>
                  <%= link_to "Leave", decrement_path(:trip => {:id => t.id}), html_options={class: "btn btn-info"} %>
                <% end %>
              <% elsif Passenger.where(trip_id: t.id, user_id: current_user.id).count < Car.find(t.car_id).seats %>
                <%= link_to "Join", increment_path(:trip => {:id => t.id}), html_options={class: "btn btn-danger"} %>
              <% end %>
              <% if Passenger.where(trip_id: t.id, user_id: current_user.id).present? %>
                <%= link_to "Complete", complete_loans_path({:trip_id => t.id}), html_options={class: "btn btn-success"} %>
              <% end %>
          </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
