<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Trips</h1>
  <p>Travel to any place of your choice.</p>
</div>

<!-- Example row of columns -->
<div class="row-fluid">
  <table class="table table-hover table-condensed table-bordered">
    <thead>
      <th>
        Origin
      </th>
      <th>
        Destination
      </th>
      <th>
        Start Time
      </th>
      <th>
        End Time
      </th>
      <th>
        Distance
      </th>
    </thead>
    <tbody> 
      <% @trips.each do |t| %>
        <% if not t.completed %>
          <tr>
            <td><%= t.origin %></td>
            <td><%= t.destination %></td>
            <td><%= t.start_time.to_formatted_s(:short) %></td>
            <td><%= t.end_time.to_formatted_s(:short) %></td>
            <td><%= t.distance %></td>
            <!--            <% car = Car.find(t.car_id) %>
            <td>
              <% if car %>
                <%= "#{car.make} #{car.model} #{car.year}" %>
              <% else %>
                <%= "NONE" %>
              <% end %>
            </td>-->
            <!--            <td> <%= number_to_currency(t.new_passenger_cost) %> </td> -->
            <!--            <td> <%= number_to_currency(t.total_trip_cost) %> </td> -->
              <% if Passenger.where(trip_id: t.id, user_id: current_user.id).present? %>
                <% if Passenger.where(trip_id: t.id).count > 1 %>
                  <td><%= link_to "Leave", decrement_path(:trip => {:id => t.id}), html_options={class: "btn btn-info"} %></td>
                <% end %>
              <% elsif Passenger.where(trip_id: t.id, user_id: current_user.id).count < Car.find(t.car_id).seats %>
                <td><%= link_to "Join", increment_path(:trip => {:id => t.id}), html_options={class: "btn btn-danger"} %></td>
              <% end %>
              <% if Passenger.where(trip_id: t.id, user_id: current_user.id).present? %>
                <td><%= link_to "Complete", complete_path({:trip_id => t.id}), html_options={class: "btn btn-success"} %></td>
              <% end %>
              <td><%= link_to "Details", details_path(:trip => {:id => t.id}), html_options={class: "btn btn-success"} %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
