<div id="main_container" class="container">

  <% if flash[:success] %>
    <div class="alert alert-success alert-dismissible fade in" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <%= flash[:success] %>
    </div>
  <% end %>
  <h3 class="muted">ShareCar</h3>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav" role="navigation">
            <li><%= link_to "Home", trips_path %></li>
            <li><%= link_to "Add Car", :new_car %></li>
            <li><%= link_to "Add owner", :new_owner %></li>
            <li><%= link_to "Log out", log_out_path %></li>
          </ul>
        </div>
      </div>
    </nav>

  <br>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Trips</h1>
  </div>

  <hr>

  <!-- Example row of columns -->
  <div class="row-fluid">

    <table class = "table">
      <thead>
        <tr>
          <%= link_to "Add trip", new_trip_path %>
        </tr>
        <th>
          Origin/Destination
        </th>
        <th>
          Start Time
        </th>
        <th>
          End Time
        </th>
        <th>
          Distance
        </th>
      </thead>
      <tbody> 
        <% @trips.each do |t| %>
          <% if not t.completed %>
            <tr>
              <td> From: <%= t.origin %> <br>
                To: <%= t.destination %> </td>
              <td> <%= t.start_time.strftime('%d-%m %I:%M') %> </td>
              <td> <%= t.end_time.strftime('%d-%m %I:%M') %> </td>
              <td> <%= t.distance %> </td>
              <!--            <% car = Car.find(t.car_id) %>
              <td>
                <% if car %>
                  <%= "#{car.make} #{car.model} #{car.year}" %>
                <% else %>
                  <%= "NONE" %>
                <% end %>
                -->
              </td>
              <!--            <td> <%= number_to_currency(t.new_passenger_cost) %> </td> -->
              <!--            <td> <%= number_to_currency(t.total_trip_cost) %> </td> -->
              <td>
                <% if Passenger.where(trip_id: t.id, user_id: current_user.id).present? %>
                  <% if Passenger.where(trip_id: t.id).count > 1 %>
                    <%= link_to("Leave", decrement_path(:trip => {:id => t.id})) %>
                  <% end %>
                <% elsif Passenger.where(trip_id: t.id, user_id: current_user.id).count < Car.find(t.car_id).seats %>
                  <%= link_to("Join", increment_path(:trip => {:id => t.id})) %>
                <% end %>
              </td>
              <td>
                <% if Passenger.where(trip_id: t.id, user_id: current_user.id).present? %>
                  <%= link_to "Complete", complete_path({:trip_id => t.id}) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; EE 2015</p>
  </div>

</div> <!-- /container -->
