<h1>Trip List</h1>
<p> <%= "Hello #{current_user.name}. Below are the currently available trips. (Want to sign in as a different user? #{link_to("Log out", log_out_path)})".html_safe %> </p>
<table class = "table">
    <thead>
        <tr>
            <th> Start Time </th>
            <th> End Time </th>
            <th> Distance </th>
            <th> Car </th>
            <th> Cost per passenger </th>
            <th> Number of passengers </th>
            <th> Origin </th>
            <th> Destination </th>
            <th> Total cost </th>
            <th> Signup for trip </th>
        </tr>
    </thead>
    <tbody> 
        <% @trips.each do |t| %>
            <tr>
                <td> <%= "#{t.start_time}" %> </td>
                <td> <%= "#{t.end_time}" %> </td>
                <td> <%= "#{t.distance}" %> </td>
                <% car = Car.find(t.car_id) %>
                <td>
                    <% if car %>
                    <%= "#{car.make} #{car.model} #{car.year}" %>
                    <% else %>
                    <%= "NONE" %>
                    <% end %>
                </td>
                <td> <%= number_to_currency(t.base_cost) %> </td>
                <td> <%= "#{t.number_of_passengers}" %> </td>
                <td> <%= "#{t.origin}" %> </td>
                <td> <%= "#{t.destination}" %> </td>
                <td> <%= number_to_currency(t.total_trip_cost) %> </td>
                <td>
                <% if Passenger.where(trip_id: t.id, user_id: current_user.id).present? %>
                <%= link_to("Leave", decrement_path(:trip => {:id => t.id})) %>
                <% else %>
                <%= link_to("Join", increment_path(:trip => {:id => t.id})) %>
                <% end %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
