<div class="container">

  <h3 class="muted">ShareCar</h3>
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <ul class="nav">
          <%= link_to "Home", trips_path %>
          |
          <%= link_to "Add Car", :new_car %>
          |
          <%= link_to "Add owner", :new_owner %>
          |
          <%= link_to "Log out", log_out_path %>
        </ul>
      </div>
    </div>
  </div><!-- /.navbar -->

  <!-- Jumbotron -->
  <div class="jumbotron">
    <h1>Trips</h1>
  </div>

  <hr>

  <!-- Example row of columns -->
  <div class="row-fluid">

    <table class = "table">
      <thead>
        <tr>
          <%= link_to "Add trip", new_trip_path %>
        </tr>
      </thead>
      <tbody> 
        <% @trips.each do |t| %>
          <% if not t.completed %>
            <tr>
              <td> From: <%= t.origin %> <br>
                To: <%= t.destination %> </td>
              <td> <%= t.start_time.strftime('%d-%m %I:%M') %> </td>
              <td> <%= t.end_time.strftime('%d-%m %I:%M') %> </td>
              <td> <%= t.distance %> </td>
              <!--            <% car = Car.find(t.car_id) %>
              <td>
                <% if car %>
                  <%= "#{car.make} #{car.model} #{car.year}" %>
                <% else %>
                  <%= "NONE" %>
                <% end %>
                -->
              </td>
              <!--            <td> <%= number_to_currency(t.new_passenger_cost) %> </td> -->
              <!--            <td> <%= number_to_currency(t.total_trip_cost) %> </td> -->
              <td>
                <% if not Trip.find(t.id).completed %>
                  <% if Passenger.where(trip_id: t.id, user_id: current_user.id).present? %>
                    <% if Passenger.where(trip_id: t.id, user_id: current_user.id).count > 1 %>
                      <%= link_to("Leave", decrement_path(:trip => {:id => t.id})) %>
                    <% end %>
                  <% elsif Passenger.where(trip_id: t.id, user_id: current_user.id).count < Car.find(t.car_id).seats %>
                    <%= link_to("Join", increment_path(:trip => {:id => t.id})) %>
                  <% end %>
                <% end %>
              </td>
              <td>
                <%= link_to "Complete", complete_path({:trip_id => t.id}) %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>

  <hr>

  <div class="footer">
    <p>&copy; EE 2015</p>
  </div>

</div> <!-- /container -->
