<h1>Owners</h1>

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav" role="navigation">
        <li><%= link_to "Home", trips_path %></li>
        <li><%= link_to "Add Car", :new_car %></li>
        <li><%= link_to "Add owner", :new_owner %></li>
        <li><%= link_to "Log out", log_out_path %></li>
      </ul>
    </div>
  </div>
</nav>

<%= form_for (@owner), url: "new" do |f| %>

  <div class="owner">
    <%= f.label :user_id %><br>
    <%= f.select(:user_id, User.all.collect {|c| [c.name]}) %>
  </div>

   <div class="car">
    <%= f.label :car_id %><br>
    <%= f.select(:car_id, Owner.where(user_id: current_user.id).collect {|o| ["#{Car.find(o.car_id).make} #{Car.find(o.car_id).model} #{Car.find(o.car_id).year}"]}) %>
  </div>
  
   <div class="actions">
  <%= f.submit %>
  </div>

<% end %>
