<!-- Jumbotron -->
<div class="jumbotron">
  <h1>Users</h1>
  <p>Get up and running in no time.</p>
</div>

<div class="row-fluid">
  <div class="span4 well">
    <div class="form">
      <%= form_for @user, url: sign_up_path do |f| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h4><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h4>

            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class='form-group'>
          <%= f.label :name %> <br>
          <%= f.text_field :name %>
        </div>
        <br>
        <div class='form-group'>
          <%= f.label :email %> <br>
          <%= f.text_field :email %>
        </div>
        <br>
        <div class='form-group'>
          <%= f.label :password %> <br>
          <%= f.password_field :password %>
        </div>
        <br>
        <div class='form-group'>
          <%= f.label :password_confirmation %> <br>
          <%= f.password_field :password_confirmation %>
        </div>
        <br>
        <div class='actions'>
          <%= f.submit "Create User", options={class: "btn btn-default"} %>
        </div>
      <% end %>
    </div>
  </div>
</div>
