<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation" class="alert alert-danger alert-block">
      <h4><%= pluralize(@loan.errors.count, "error") %> occurred:</h4>
      <ul>
        <% @loan.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="loanee">
    <%= f.label :borrower_id %><br>
    <%= f.number_field :borrower_id %>
  </div>
  
  <div class="loaner">
    <%= f.label :lender_id %><br>
    <%= f.number_field :lender_id %>
  </div>

  <div class="amount">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, :step => 0.01 %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
