<div class="row-fluid">
  <div class="span4 well">
    <div class="form">
      <%= form_for (@car), url: cars_url do |f| %>
        <% if @car.errors.any? %>
          <div id="error_explanation" class="alert alert-danger alert-block">
            <h4><%= pluralize(@car.errors.count, "error") %> occurred:</h4>
            <ul>
              <% @car.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :cost_per_mile %><br>
          <%= f.number_field :cost_per_mile, step: 0.0001 %>
        </div>

        <div class="form-group">
          <%= f.label :make %><br>
          <%= f.text_field :make %>
        </div>

        <div class="form-group">
          <%= f.label :model %><br>
          <%= f.text_field :model %>
        </div>

        <div class="form-group">
          <%= f.label :year %><br>
          <%= f.number_field :year %>
        </div>

        <div class="form-group">
          <%= f.label :seats %><br>
          <%= f.number_field :seats, min: 1 %>
        </div>
        
        <%= f.submit options={class: "btn btn-default"} %>

      <% end %>
    </div>
  </div>
</div>
