<!DOCTYPE html>
<html>
<head>
<title>Trippa-Owners</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag "navbar-fixed-top" %>
  <%= stylesheet_link_tag "owners" %>
  <%= csrf_meta_tags %>
</head>
<body id="page-top">
  <div class="container">
    <%= render 'layouts/navbar_fixed_top_logged_in' %>
    <%= render 'layouts/flash_message' %>
    <%= yield %>
  </div>
  <!-- Footer -->
  <hr>
  <footer>
      <div class="container text-center">
          <p>Copyright &copy; Trippa 2015</p>
      </div>
  </footer>
  <%= javascript_include_tag "owners", "data-turbolinks-track" => true %>
</body>
</html>
